# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Rehab2015/Assembly-CSharp-Editor.csproj
Rehab2015/Assembly-CSharp.csproj
Rehab2015/Assets/Scripts/ScoreBoardAdd.cs
Rehab2015/Assets/Scripts/ScoreBoardAdd.cs.meta
Rehab2015/Rehab2015.sln
